<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">

        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory > 0 && inventory <= 10">Almost Sold Out</p>
                <p v-else>Out Stock</p>

                <!-- If Else -->
                <button v-if="inStock" class="btn btn-success">Buy Now</button>
                <button v-else class="btn btn-danger" disabled>Sold Out</button>

                <hr>
                <h4>Demo of If Conditional Rendering</h4>
                <h5>In Chrome Console  // Try Changing Values</h5>
                <h5>shoppingList.$data.inventory=0</h5>
                <h5>shoppingList.$data.inStock= false</h5>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var shoppingList = new Vue({
            el: '#app',
            data: {
                product: 'Socks',
                image: './assets/imgs/vmSocks-green-onWhite.jpg',
                inStock: true,
                inventory: 100,
            }
        });
    </script>
</body>
</html>